@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}