@import 'mixins/import';

.footer {
  &__socials {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    align-items: center;
    padding: 46px 0 60px;

    &-btn {
      fill: white;
      @include transition(fill);

      &:hover {
        fill:var(--accent);
      }

      svg {
        width: clamp(45px, 4vw, 72px);
        height: auto;
      }
    }
  }
}