* { box-sizing: border-box; }
html,body {
  height:100%;
}

html {
  font-family: $--root-font-default;
  font-size: 24px;
  font-weight: 400;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  margin:0;
  background-image: var(--bg);
  background-color: var(--black);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: white;
  letter-spacing: 0.02em;
}

p,a,h1 {
  margin: 0;
}

.container {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;

  @media (max-width: $breakpoint-md) {
    width: 95%;
  }

  @media (max-width: $breakpoint-sm) {
    width: 100%;
    padding: 0 10px;
  }
}
