@import 'header';
@import 'variables';
@import 'generic';
@import 'page';
@import 'footer';

.main {
  flex: 1;
  background-image: var(--bg-add);
  background-size: 1400px;
  background-repeat: no-repeat;
  background-position: 34% 99%;

  @media (max-width: $breakpoint-lg) {
    background-image: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 115px;
    width: fit-content;
    user-select: none;

    @media (max-width: $breakpoint-lg) {
      justify-content: center;
      padding-right: 0;
    }

    @media (max-width: $breakpoint-md) {
      margin-left: 230px;
    }

    @media (max-width: $breakpoint-sm) {
      margin-left: 131px;
    }
  }

  &__title {
    font-size: clamp(50px, 10vw, 200px);
    font-weight: 900;
    line-height: 1.2;
  }

  &__subtitle {
    font-size: clamp(16px, 2.5vw, 48px);
    font-weight: 500;
    line-height:  140%;
    max-width: 740px;
    padding-left: 13px;

    @media (max-width: $breakpoint-lg) {
      padding-left: 8px;
    }
  }

  &__decorative-img {
    display: block;
    margin-left: auto;

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &__img {
    position: absolute;
    left: -22%;
    top: 64%;
    transform: translate(-50%, -50%);
    width: clamp(300px, 49.5vw, 950px);
    max-width: 950px;
    min-width: 300px;
    height: auto;
    z-index: -1;
    pointer-events: none;

    @media (max-width: $breakpoint-lg) {
      top: 45%;
      left: -13%;
    }
  }
}